@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lustria');

h1 {
  font-family: 'Fredoka One', cursive;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 90px;
  padding: 0;
}

h2 {
  font-family: 'Lustria', serif;
  font-size: 30px;
  padding: 0;

}

h3 {
  font-family: 'Lustria', serif;
  font-size: 35px;
  padding: 0;
}

h5 {
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  padding: 0;

}
.flex-container {
  display: flex;
  flex-direction: row;

}

textarea {
  font-family: 'Lustria', serif;
  size: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.btn:focus {
  outline: none;
}

#topHeader {
  padding-top: 20px;
}

#title-container {
  display: inline-block;
  min-width: 440px;
  padding-left: 40px;
  text-align: left;
}

#intro {
  display: inline-block;
  flex-direction: column;
  padding: 20px 0;
  min-width: 1000px;
}

#contents {
  padding: 40px;
  display: flex;
  flex-flow: flex-wrap;
  flex-direction: rows;
  justify-content: space-around;
  text-align: center;
}

#foo {
  padding-top: 20px;
  padding-bottom: 20px;
}

#nonmap_container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  min-width: 400px;
}

#nonmap {
  display: flex;
  flex-flow: flex-wrap;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#thankyou {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}


#map_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-right: 20px;
}

#map {
  display: flex;
  flex-flow: flex-wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 950px;
  height: 600px;
  background-color: grey;
  border: 2px solid #000000 !important;
  border-radius: 10px;
}

#pins {
  display: flex;
  flex-flow: flex-wrap;
  flex-direction: column;
  justify-content: space-around;
}


.btn {
  display: block;
  background-color: #db3236;
  border: 2px solid #000000 !important;
  font-family: 'Fredoka One', cursive;
  font-size: 18px;
  text-transform: uppercase;
  height: 40px;
  text-align: center;
  letter-spacing:2px;
  text-shadow:0;
  border-radius: 10px;

}
